@import url(reset.css);
@import url(normalize.css);
/* Mulish Font */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,600;0,700;0,800;1,400;1,600;1,700;1,800&display=swap');

/* MY CSS */

:root {
  --black: #25313C;
  --blue: #5A4FF3;
  --grey: #6D7D8B;
  --pink: #ED455D;
  --white: #FFFFFF;
  --light-grey: #BBC8D4;
  --ultra-light-grey: #F2F4F7;

  --font: 'Mulish', sans-serif;
  --font-size-heading-1: 3rem;
  --font-size-heading-2: 2rem;
  --font-size-heading-3: 1.3rem;
  --font-size-p: 1.1rem;
  --font-size-caption: 1rem;
  --font-size-menu-lateral: 0.8rem;

}

html { font-size: 16px;}

body {
  font-family: var(--font);
  font-size: 1rem;
  background-color: var(--ultra-light-grey);
}

ul {list-style-type: none; margin: 0; margin-block: 0;padding: 0;}

h1 { 
  font-weight: 800;
  font-size: var(--font-size-heading-1);
  color: var(--blue)
 }
h2 {
  font-weight: normal;
  font-size: var(--font-size-heading-2);
}
h3 {
  font-weight: normal;
  font-size: var(--font-size-heading-3);
}
p {
  font-size: var(--font-size-p);
  font-weight: 600;
  line-height: 1.6;
}
a {
  font-size: var(--font-size-p);
  font-weight: bold;
  line-height: 1.7;
}
.caption {
  font-size: var(--font-size-caption);
  font-weight: 600;
  line-height: 1.5;
}
.menu-lateral {
  font-weight: 600;
  font-size: var(--font-size-menu-lateral);
}